---
---
<section id="About" class="relative bg-gray-600 text-white h-screen">

  <img 
    src="/images/background_about.jpg" 
    alt="About background" 
    class="absolute inset-0 w-full h-full object-cover"
  />

<div class="absolute inset-0 bg-gradient-to-b from-black/95 via-transparent to-transparent"></div>
<div class="absolute inset-0 bg-gradient-to-t from-black/100 via-transparent to-transparent"></div>


  <section class="h-screen flex">
    <div class="w-[90%] md:w-[80%] mx-auto px-6">
      <div class="relative z-10 flex flex-col items-start text-left h-full pt-20 space-y-3">

        <h1 class="text-5xl md:text-7xl font-bold underline decoration-[#d1520e] decoration-2">
          ABOUT
        </h1>
        <p class="text-lg text-gray-300">
          mely301104@gmail.com
        </p>

        <p class="text-lg md:text-1xl max-w-1xl">
          I have over two years of experience in software development, <br>
          with a strong focus on <strong>frontend development</strong>. Currently, <br>
          I am pursuing a degree in <strong>Computer Science Engineering</strong>, which has <br>
          helped me build a solid foundation in programming, problem-solving,<br>
          and modern development practices.<br>
          <br>I am eager to apply my skills in a professional environment, contribute <br>
          to impactful projects, and continue growing as a developer while learning <br>
          from real-world challenges.
        </p>

        <div class="flex items-center justify-center mt-4">
          <span class="text-[#d1520e]">───</span>
          <span class="px-4 text-white">La Habana, Cuba</span>
          <span class="text-[#d1520e]">───</span>
          </div>

      </div>
    </div>
  </section>
</section>


