---
---
<section class="relative bg-gray-600 text-white h-screen">
  <!-- Imagen de fondo -->
  <img 
    src="/images/background_about.jpg" 
    alt="About background" 
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido del Hero -->
  <section class="h-screen flex">
    <div class="w-[90%] md:w-[80%] mx-auto px-6">
      <div class="relative z-10 flex flex-col items-start text-left h-full pt-20 space-y-3">
        <!-- pt-28 = espacio superior (ajústalo según tu navbar) -->

        <h1 class="text-5xl md:text-7xl font-bold underline decoration-[#d1520e] decoration-2">
          ABOUT
        </h1>
        <p class="text-lg text-gray-300">
          mely301104@gmail.com
        </p>

        <p class="text-lg md:text-1xl max-w-1xl">
          I have over two years of experience in software development, <br>
          with a strong focus on <strong>frontend development</strong>. Currently, <br>
          I am pursuing a degree in <strong>Computer Science Engineering</strong>, which has <br>
          helped me build a solid foundation in programming, problem-solving,<br>
          and modern development practices.<br>
          <br>I am eager to apply my skills in a professional environment, contribute <br>
          to impactful projects, and continue growing as a developer while learning <br>
          from real-world challenges.
        </p>

      </div>
    </div>
  </section>
</section>


