---
---
<section class="relative bg-gray-900 text-white h-screen">
  <!-- Imagen de fondo -->
  <img 
    src="/images/background.jpg" 
    alt="Hero background" 
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido del Hero -->
<section class="h-screen flex items-center">
  <div class="w-[90%] md:w-[80%] mx-auto px-6">
    <div class="relative z-10 flex flex-col items-start justify-center text-left h-full space-y-3">
      
      <h2 class="text-2xl md:text-4xl font-light tracking-widest">MELL</h2>
      <h1 class="text-5xl md:text-7xl font-bold">MATEOS</h1>
      <p class="text-lg md:text-2xl max-w-2xl">
        S o f t w a r e   D e v e l o p e r.
      </p>
      
      <!-- Botones -->
      <div class="flex space-x-4">
        <a 
          href="#portfolio" 
          class="bg-transparent hover:bg-[#d1520e] border-2 border-white-600 text-white px-6 py-3 rounded-full font-medium transition"
        >
          Portfolio
        </a>
        <a 
          href="/curriculum.pdf" 
          class="bg-transparent hover:bg-[#d1520e] border-2 border-white-600 text-white px-6 py-3 rounded-full font-medium transition"
          target="_blank"
        >
          Curriculum
        </a>
      </div>

    </div>
  </div>
</section>



    
  </div>
</section>
