---
---
<section class="relative bg-[#0c0c0c] text-white h-screen">

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/50"></div>

  <section class="min-h-screen flex items-start">
  <div class="w-[90%] md:w-[80%] mx-auto px-6">
    <div class="relative z-10 flex flex-col items-start text-left pt-20 space-y-6">

      <!-- Título -->
      <h1 class="text-5xl md:text-7xl font-bold underline decoration-[#d1520e] decoration-2">
        Software Skills
      </h1>

      <!-- From Uiverse.io by Yaya12085 --> 
<div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 bg-gradient-to-r from-blue-500 to-blue-600">
  </div>
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
     Tailwind card
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis ligula. 
    </p>
  </div>
  <div class="p-6 pt-0">
    <button data-ripple-light="true" type="button" class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
      Read More
    </button>
  </div>
</div>

    </div>
  </div>
</section>


  </div>
</section>