---
---
<section class="relative bg-[#0c0c0c] text-white h-screen">

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/50"></div>

  <section class="min-h-screen flex items-start">
  <div class="w-[90%] md:w-[80%] mx-auto px-6">
    <div class="relative z-10 flex flex-col items-start text-left pt-20 space-y-6">

      <!-- Título -->
      <h1 class="text-5xl md:text-7xl font-bold underline decoration-[#d1520e] decoration-2">
        Software Skills
      </h1>

      

    </div>
  </div>
</section>


  </div>
</section>